*.out
outputNW
*.png
slurm
slurm/slurm.folder
slurm/slurm.folder
*.folder
slurm/slurm.folder
*.root
slurm/slurm.folder
slurm/slurm.folder
slurm/slurm.folder
exec_CreateUsefulHiRAHistograms
exec_CreateUsefulHiRAHistograms.cpp
*.so
*.o
*.pcm
lib/*
notebooks/*
niu/*
pictures/*
slurm/*
output/*
.ipynb_checkpoints/*
**/__pycache__/**
*.exe
exec_*
*Dict.cpp
config/HiRAEVT.conf
**/*.sif
